$borderBar: 1px solid rgba(64, 64, 64, 0.2);
$textColor: rgb(64, 64, 64);
$borderColor: rgba(64, 64, 64, 0.2);
$transition:  all 0.2s ease-in-out;
$maxWidth: 1090px;

@mixin bgColor ($transparancy: 0.5) {
    background-color: rgba(64, 64, 64, $transparancy);
}
@mixin flexCenter {
    display: flex;
    align-items: center;
    position: relative;
}
@mixin barStyle {
    display: flex;
    background-color: rgba(240, 240, 240, 0.7);
    border: $borderBar;
    height: 40px;
    width: 100%;
}
@mixin menuStyle {
    @include flexCenter();
    justify-content: space-between;
    max-width: $maxWidth;
    width: 100%;
    margin: 0 auto;
}
@mixin dropdownMenu {
    @include flexCenter();
    cursor: pointer;
    height: 100%;
    padding: 0 10px;
    ul {
        border: $borderBar;
        visibility: hidden;
        opacity: 0%;
        position: absolute;
        top: 100%;
        left: 0;
        transition: $transition;
        min-width: 100%;
        z-index: 999;
        background-color: rgba(255, 255, 255, 0.8);
        li {
            line-height: 1.8;
            @include bgColor(0.02);
            cursor: pointer;
            transition: $transition;
            min-width: max-content;
            padding: 3px 15px;
            &:hover {
                @include bgColor(0.1);
            }
        }
    }
    &:hover {
        @include bgColor(0.1);
        box-shadow: 1px 1px 2px $borderColor inset;
    }
    &:hover ul {
        visibility: visible;
        opacity: 100%;
    }
}
@mixin buttonHover {
    bottom: 1px;
    box-shadow: 1px 1px 1px rgb(64, 64, 64);    
}
// COMMON CLASSES
.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    width: 100%;
}
.acceptButton {
    border: $borderBar;
    border-radius: 10px;
    background-color: rgb(235, 255, 204);
    padding: 15px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
    transition: $transition;
    &:hover {
        transform: translateY(-2px);
        box-shadow: 1px 1px 2px rgb(122, 122, 122);
    }
    &:disabled {
        transform: none;
        box-shadow: none;
        cursor: auto;
        background-color: rgb(241, 241, 241);
    }
}

// QUICK CARRT
.quickCart__shadow {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    left: 0;
    .quickCart__content {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        position: absolute;
        background-color: white;
        width: max-content;
        min-width: 400px;
        height: 100%;
        right: 0;
        top: 0;
        box-shadow: 10px 0px 25px black;
        padding: 30px;
        h4 {
            display: block;
            border-bottom: 1px solid $borderColor;
            padding-bottom: 20px;
        }
        .quickCart__itemsBlock {
            flex: 1;
            overflow: auto;
            padding: 10px;
        }
    }
    .quickCart__total {
        @include flexCenter();
        justify-content: space-between;
        border-top: 1px solid $borderColor;
        padding-top: 10px;
        margin-top: 15px;
        font-weight: 500;
    }
}
.quickCart__item, .favorite__item {
    @include flexCenter();
    justify-content: space-between;
    border: $borderBar;
    border-radius: 25px;
    margin-top: 15px;
    padding: 10px;
    transition: $transition;
    min-width: 200px;
    max-width: 450px;
    flex: 1 1 auto;
    cursor: pointer;
    div:first-child {
        display: flex;
        align-items: center;
        min-width: 100px;
        width: 100px;
        height: 100px;
        border-radius: 15px;
        margin-right: 10px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
    .quickCart__description, .favorite__description {
        flex-grow: 1;
        max-width: 170px;
    }
    p:last-child {
        font-weight: 700;
        margin-top: 10px;
    }
    svg {
        align-self: flex-end;
        margin-left: 10px;
        cursor: pointer;
    }
    svg:hover {
        rect {
            stroke-opacity: 0.6;
        }
        path {
            fill-opacity: 0.6;
        }
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 1px 1px 2px rgb(122, 122, 122);
    }
}

// HEADER
header {
    @include barStyle();
}
.topBar {
    @include menuStyle();
    ul.dropdown {
        height: 100%;
        li {
            @include dropdownMenu();
        }
    }
    svg {
        margin-left: 2px;
        fill: $textColor;
    }
}

.topBar__mainMenu {
    display: flex;
    li {
        margin-right: 25px;
    }
}

.topBar__social {
    display: flex;
    align-items: center;
    li {
        margin-right: 10px;
    }
}

// ADDRESS BLOCK
.addressBlock {
    @include menuStyle();
    padding: 10px 0;
    img {
        height: 70px;
    }
    & p:first-child {
        font-weight: 500;
    }
    .addressBlock__favoriteCart {
        display: flex;
    }
}
.addressBlock__cartBlock, .addressBlock__favoriteBlock {
    @include flexCenter();
    margin: 10px;
    .addressBlock__cart {
        min-width: 37px;
        min-height: 51px;
        cursor: pointer;
    }
    .addressBlock__totalCost {
        margin-left: 10px;
    }
}
.addressBlock__cartCounter, .addressBlock__favoriteCounter {
    position: absolute;
    bottom: -5px;
    left: 35px;
    width: fit-content;
    min-width: 16px;
    padding: 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(184, 184, 184);
    text-align: center;
    font-size: 14px;
}

// NAVIGATION BAR
nav {
    @include barStyle();
    position: sticky;
    top: 0;
    z-index: 19;
}
.navBar {
    @include menuStyle();
    ul.dropdown {
        height: 100%;
        display: flex;
        font-weight: 500;
        li {
            @include dropdownMenu();
        }
        svg {
            margin-left: 5px;
        }
    }
}

.navBar__searchForm {
    @include flexCenter();
    input {
        height: 25px;
        padding: 5px;
        border: $borderBar;
        border-radius: 5px 0 0 5px;
        &:focus {
            border: 2px solid rgba(64, 64, 64, 0.8);
        }
    }
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        width: 25px;
        @include bgColor(0.7);
        border-radius: 0 5px 5px 0;
        margin-right: 10px;
    }
}

// CONTENT
    // BANNER SLIDER
.content__banner-slider {
    @include menuStyle();
    max-width: 1080px;
    margin: 5px auto;
    margin-top: 10px;
    justify-content: center;
    img {
        width: 100%;
    }
    ul {
        position: absolute;
        display: flex;
        bottom: 10px;
        li{
            position: relative;
            border: $borderBar;
            height: 12px;
            width: 12px;
            margin: 2px;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 4px;
            transition: $transition;
            &:hover {
                transform: translateY(-1px);
                box-shadow: 1px 1px 1px rgb(64, 64, 64);
                background-color: rgba(255, 255, 255, 0.8);
            }
            &:first-child {
                background-color: rgba(255, 240, 120, 0.7);
            }
        }
    }
}
    // HOT OFFERS
.content__hotOffers {
    @include menuStyle();
    max-width: $maxWidth;
    flex-wrap: wrap;
    div {
        display: flex;
        position: relative;
        justify-content: center;
        flex: 1 1 auto;
        min-width: 220px;
        margin: 5px;
        cursor: pointer;
        transition: $transition;
        @include bgColor(0.1);
        background: rgb(243, 243, 243);
        border: $borderBar;
        p {
            display: flex;
            width: 200px;
            height: 40px;
            text-transform: uppercase;
            font-weight: 500;
            color: $textColor;
            align-items: center;
            justify-content: center;
        }
        &:hover {
            transform: translateY(-2px);
            box-shadow: 1px 1px 1px rgba(64, 64, 64, 0.5);
            background: linear-gradient(90deg, rgba(255,245,165,1) 0%, rgba(255,240,135,1) 50%, rgba(255,245,165,1) 100%);
        }
    }
    .content_activeHotOffers {
        background: linear-gradient(90deg, rgba(255,245,165,1) 0%, rgba(255,240,135,1) 50%, rgba(255,245,165,1) 100%);
    }
}
    // GOODS TITLE
.content {
    h2 {
        display: flex;
        max-width: 1080px;
        margin: 0 auto;
        overflow: auto;
        div {
            border-top: 1px solid $textColor;
            flex: 1;
            align-self: center;
            margin-left: 20px;
        }
    }
}
    // GOODS
.content__goodsBlock {
    @include menuStyle();
    max-width: $maxWidth;
    flex-wrap: wrap;
    div.content__goodsItem {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        flex: 1 1 auto;
        background-position: center;
        background-size: 100%;
        height: 350px;
        min-width: 270px;
        margin: 5px;
        cursor: pointer;
        transition: $transition;
        p {
            width: 200px;
            text-align: center;
            font-weight: 500;
            color: rgba(255, 255, 255, 0.5);
            transition: $transition;
            z-index: 9;
        }
        div {
            width: 100%;
            margin: 0;
            padding: 5px 0;
            min-height: 30px;
            background-color: rgba(0, 0, 0, 0.3);
            color: rgba(255, 255, 255, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            transition: $transition;
            z-index: 9;
        }
        img {               // for indexation
            display: none;
        }
        &:hover {
            background-size: 120%;
            p {
                color: rgba(255, 255, 255, 0.9);
            }
            div {
                background-color: rgba(0, 0, 0, 0.7);
            }
        }
        .addedToCartBtn {
            rect:first-child {
                fill: rgb(185, 255, 80);
            }
        }
        .addToCartBtn, .addedToCartBtn {
            z-index: 9;
            width: 40px;
            height: 40px;
            margin-left: 10px;
            &:hover {
                rect {
                    fill-opacity: 0.8;
                    stroke-opacity: 0.6;
                }
                path {
                    stroke-opacity: 0.6;
                }
            }
        }
        .addedToFavoriteBtn {
            path {
                fill: rgba(255, 123, 123, 0.562);
                fill-opacity: 0.8;
                stroke: rgb(97, 97, 97);
            }
        }
        .addToFavoriteBtn, .addedToFavoriteBtn {
            z-index: 9;
            width: 40px;
            height: 40px;
            margin-left: 10px;
            &:hover {
                rect {
                    fill-opacity: 0.8;
                    stroke-opacity: 0.6;
                }
                path {
                    stroke-opacity: 0.6;
                }
            }
        }
    }
}

// MORE GOODS
.moreGoods {
    width: fit-content;
    margin: 10px auto;
    cursor: pointer;
    color: rgba(64, 64, 64, 0.6);
    P {
        font-weight: 500;
    }
    &:hover {        
        color: $textColor;
    }
}

//FILLER
.filler {
    flex: 1;
}

// FOOTER
footer {
    @include bgColor(1);
}
.footer {
    display: flex;
    max-width: $maxWidth;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 10px;
    ul {
        margin: 20px 5px;
    }
    li {
        color: white;
        font-size: 15px;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    li:first-child {
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 10px;
    }
}

//FAVORITE
.favorite__content {
    max-width: $maxWidth;
    width: 100%;
    margin: 10px auto;
    border-top: 2px solid $borderColor;
    padding: 20px 0;
    h2 {
        margin-left: 10px;
    }
    .favorite__itemsBlock {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        .favorite__item {
            margin: 5px;
        }
    }
}