header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(240, 240, 240, 0.7);
  border: 1px solid rgba(64, 64, 64, 0.2);
  height: 40px;
  width: 100%;
}

.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}
.topBar ul.dropdown {
  height: 100%;
}
.topBar ul.dropdown li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  height: 100%;
  padding: 0 10px;
}
.topBar ul.dropdown li ul {
  border: 1px solid rgba(64, 64, 64, 0.2);
  visibility: hidden;
  opacity: 0%;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  min-width: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
}
.topBar ul.dropdown li ul li {
  line-height: 1.8;
  background-color: rgba(64, 64, 64, 0.02);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.topBar ul.dropdown li ul li:hover {
  background-color: rgba(64, 64, 64, 0.1);
}
.topBar ul.dropdown li:hover {
  background-color: rgba(64, 64, 64, 0.1);
  -webkit-box-shadow: 1px 1px 2px rgba(64, 64, 64, 0.2) inset;
          box-shadow: 1px 1px 2px rgba(64, 64, 64, 0.2) inset;
}
.topBar ul.dropdown li:hover ul {
  visibility: visible;
  opacity: 100%;
}
.topBar svg {
  margin-left: 2px;
  fill: rgb(64, 64, 64);
}

.topBar__mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.topBar__mainMenu li {
  margin-right: 25px;
}

.topBar__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topBar__social li {
  margin-right: 10px;
}

.addressBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 5px 0;
}
.addressBlock img {
  height: 80px;
}
.addressBlock p:first-child {
  font-weight: 500;
}

.addressBlock__cartBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.addressBlock__cartBlock div:first-child {
  min-width: 37px;
  min-height: 51px;
  margin: 0 15px;
}
.addressBlock__cartBlock a {
  color: rgb(245, 160, 0);
}

.addressBlock__cartCounter {
  position: absolute;
  bottom: -5px;
  left: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 16px;
  padding: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 2px solid rgb(64, 64, 64);
  text-align: center;
  font-size: 14px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(240, 240, 240, 0.7);
  border: 1px solid rgba(64, 64, 64, 0.2);
  height: 40px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
}
.navBar ul.dropdown {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
}
.navBar ul.dropdown li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  height: 100%;
  padding: 0 10px;
}
.navBar ul.dropdown li ul {
  border: 1px solid rgba(64, 64, 64, 0.2);
  visibility: hidden;
  opacity: 0%;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  min-width: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
}
.navBar ul.dropdown li ul li {
  line-height: 1.8;
  background-color: rgba(64, 64, 64, 0.02);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navBar ul.dropdown li ul li:hover {
  background-color: rgba(64, 64, 64, 0.1);
}
.navBar ul.dropdown li:hover {
  background-color: rgba(64, 64, 64, 0.1);
  -webkit-box-shadow: 1px 1px 2px rgba(64, 64, 64, 0.2) inset;
          box-shadow: 1px 1px 2px rgba(64, 64, 64, 0.2) inset;
}
.navBar ul.dropdown li:hover ul {
  visibility: visible;
  opacity: 100%;
}
.navBar ul.dropdown svg {
  margin-left: 5px;
}

.navBar__searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.navBar__searchForm input {
  height: 25px;
  padding: 5px;
  margin-right: 10px;
  border: 1px solid rgba(64, 64, 64, 0.2);
  border-radius: 5px;
}
.navBar__searchForm button {
  position: relative;
  height: 25px;
  width: 25px;
  background-color: rgba(64, 64, 64, 0.9);
  border-radius: 20%;
  margin-right: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navBar__searchForm button:hover {
  background-color: rgba(64, 64, 64, 0.7);
}

.content__banner-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  height: 400px;
  margin: 5px auto;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content__banner-slider img {
  width: 100%;
}
.content__banner-slider ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 10px;
}
.content__banner-slider ul li {
  position: relative;
  border: 1px solid rgba(64, 64, 64, 0.2);
  height: 12px;
  width: 12px;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.content__banner-slider ul li:hover {
  bottom: 1px;
  -webkit-box-shadow: 1px 1px 1px rgb(64, 64, 64);
          box-shadow: 1px 1px 1px rgb(64, 64, 64);
  background-color: rgba(255, 255, 255, 0.8);
}
.content__banner-slider ul li:first-child {
  background-color: rgba(255, 229, 0, 0.6);
}

.content__hotOffers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  max-width: 1090px;
}
.content__hotOffers div {
  position: relative;
  width: 100%;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: rgb(255, 240, 80);
  border: 1px solid rgba(64, 64, 64, 0.2);
}
.content__hotOffers div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(64, 64, 64);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content__hotOffers div:hover {
  bottom: 1px;
  -webkit-box-shadow: 1px 1px 1px rgba(64, 64, 64, 0.5);
          box-shadow: 1px 1px 1px rgba(64, 64, 64, 0.5);
  background-color: rgb(255, 234, 0);
}

.content__goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  max-width: 1090px;
}
.content__goods div {
  position: relative;
  width: 100%;
  height: 350px;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
.content__goods div p {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 9;
}
.content__goods div img {
  position: relative;
  width: 100%;
  top: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.content__goods div:hover p {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(255, 255, 255, 0.9);
}
.content__goods div:hover img {
  top: -100px;
}
.content__goods div button {
  position: absolute;
  z-index: 9;
  bottom: 5px;
  right: 5px;
  width: 40px;
  height: 40px;
}
.content__goods div button:hover rect {
  fill-opacity: 0.8;
  stroke-opacity: 0.6;
}
.content__goods div button:hover path {
  fill-opacity: 0.6;
}
.content__goods div button:active rect {
  fill: greenyellow;
}
.content__goods div button:active path {
  fill: white;
  fill-opacity: 1;
}