.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.acceptButton {
  border: 1px solid rgba(64, 64, 64, 0.2);
  border-radius: 10px;
  background-color: rgb(235, 255, 204);
  padding: 15px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.acceptButton:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 1px 1px 2px rgb(122, 122, 122);
          box-shadow: 1px 1px 2px rgb(122, 122, 122);
}
.acceptButton:disabled {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: auto;
  background-color: rgb(241, 241, 241);
}

.emptyCart {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.emptyCart h3 {
  margin-bottom: 10px;
}
.emptyCart p {
  max-width: 280px;
  text-align: center;
  padding-top: 10px;
}

.quickCart__shadow {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 99;
  top: 0;
  left: 0;
}
.quickCart__shadow .quickCart__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  background-color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  min-width: 400px;
  height: 100%;
  right: 0;
  top: 0;
  -webkit-box-shadow: 10px 0px 25px black;
          box-shadow: 10px 0px 25px black;
  padding: 30px;
}
.quickCart__shadow .quickCart__content h4 {
  display: block;
  border-bottom: 1px solid rgba(64, 64, 64, 0.2);
  padding-bottom: 20px;
}
.quickCart__shadow .quickCart__content .quickCart__itemsBlock {
  overflow: auto;
  padding: 10px;
}
.quickCart__shadow .quickCart__emptyCart {
  min-width: 400px;
}
.quickCart__shadow .quickCart__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid rgba(64, 64, 64, 0.2);
  padding-top: 10px;
  margin-top: 15px;
  font-weight: 500;
}

.quickCart__item, .favorite__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid rgba(64, 64, 64, 0.2);
  border-radius: 25px;
  margin-top: 15px;
  padding: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  min-width: 200px;
  max-width: 450px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  cursor: pointer;
}
.quickCart__item div:first-child, .favorite__item div:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100px;
  width: 100px;
  height: 100px;
  border-radius: 15px;
  margin-right: 10px;
  overflow: hidden;
}
.quickCart__item div:first-child img, .favorite__item div:first-child img {
  width: 100%;
}
.quickCart__item .quickCart__description, .quickCart__item .favorite__description, .favorite__item .quickCart__description, .favorite__item .favorite__description {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 170px;
}
.quickCart__item p:last-child, .favorite__item p:last-child {
  font-weight: 700;
  margin-top: 10px;
}
.quickCart__item svg, .favorite__item svg {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: 10px;
  cursor: pointer;
}
.quickCart__item svg:hover rect, .favorite__item svg:hover rect {
  stroke-opacity: 0.6;
}
.quickCart__item svg:hover path, .favorite__item svg:hover path {
  fill-opacity: 0.6;
}
.quickCart__item:hover, .favorite__item:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 1px 1px 2px rgb(122, 122, 122);
          box-shadow: 1px 1px 2px rgb(122, 122, 122);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(240, 240, 240, 0.7);
  border: 1px solid rgba(64, 64, 64, 0.2);
  height: 40px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.topBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1090px;
  width: 100%;
  margin: 0 auto;
}
.topBar ul.dropdown {
  height: 100%;
}
.topBar ul.dropdown li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  height: 100%;
  padding: 0 10px;
}
.topBar ul.dropdown li ul {
  border: 1px solid rgba(64, 64, 64, 0.2);
  visibility: hidden;
  opacity: 0%;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  min-width: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
}
.topBar ul.dropdown li ul li {
  line-height: 1.8;
  background-color: rgba(64, 64, 64, 0.02);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 3px 15px;
}
.topBar ul.dropdown li ul li:hover {
  background-color: rgba(64, 64, 64, 0.1);
}
.topBar ul.dropdown li:hover {
  background-color: rgba(64, 64, 64, 0.1);
  -webkit-box-shadow: 1px 1px 2px rgba(64, 64, 64, 0.2) inset;
          box-shadow: 1px 1px 2px rgba(64, 64, 64, 0.2) inset;
}
.topBar ul.dropdown li:hover ul {
  visibility: visible;
  opacity: 100%;
}
.topBar svg {
  margin-left: 2px;
  fill: rgb(64, 64, 64);
}

.topBar__mainMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.topBar__mainMenu li {
  margin-right: 25px;
}

.topBar__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topBar__social li {
  margin-right: 10px;
}

.addressBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1090px;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
}
.addressBlock img {
  height: 70px;
}
.addressBlock p:first-child {
  font-weight: 500;
}
.addressBlock .addressBlock__favoriteCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.addressBlock__cartBlock, .addressBlock__favoriteBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 10px;
}
.addressBlock__cartBlock .addressBlock__cart, .addressBlock__favoriteBlock .addressBlock__cart {
  min-width: 37px;
  min-height: 51px;
  cursor: pointer;
}
.addressBlock__cartBlock .addressBlock__totalCost, .addressBlock__favoriteBlock .addressBlock__totalCost {
  margin-left: 10px;
}

.addressBlock__cartCounter, .addressBlock__favoriteCounter {
  position: absolute;
  bottom: -5px;
  left: 35px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 16px;
  padding: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px solid rgb(184, 184, 184);
  text-align: center;
  font-size: 14px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(240, 240, 240, 0.7);
  border: 1px solid rgba(64, 64, 64, 0.2);
  height: 40px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 19;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1090px;
  width: 100%;
  margin: 0 auto;
}
.navBar ul.dropdown {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 500;
}
.navBar ul.dropdown li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  height: 100%;
  padding: 0 10px;
}
.navBar ul.dropdown li ul {
  border: 1px solid rgba(64, 64, 64, 0.2);
  visibility: hidden;
  opacity: 0%;
  position: absolute;
  top: 100%;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  min-width: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
}
.navBar ul.dropdown li ul li {
  line-height: 1.8;
  background-color: rgba(64, 64, 64, 0.02);
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  padding: 3px 15px;
}
.navBar ul.dropdown li ul li:hover {
  background-color: rgba(64, 64, 64, 0.1);
}
.navBar ul.dropdown li:hover {
  background-color: rgba(64, 64, 64, 0.1);
  -webkit-box-shadow: 1px 1px 2px rgba(64, 64, 64, 0.2) inset;
          box-shadow: 1px 1px 2px rgba(64, 64, 64, 0.2) inset;
}
.navBar ul.dropdown li:hover ul {
  visibility: visible;
  opacity: 100%;
}
.navBar ul.dropdown svg {
  margin-left: 5px;
}

.navBar__searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.navBar__searchForm input {
  height: 25px;
  padding: 5px;
  border: 1px solid rgba(64, 64, 64, 0.2);
  border-radius: 5px 0 0 5px;
}
.navBar__searchForm input:focus {
  border: 2px solid rgba(64, 64, 64, 0.8);
}
.navBar__searchForm div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  width: 25px;
  background-color: rgba(64, 64, 64, 0.7);
  border-radius: 0 5px 5px 0;
  margin-right: 10px;
}

.content__banner-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1090px;
  width: 100%;
  margin: 0 auto;
  max-width: 1080px;
  margin: 5px auto;
  margin-top: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content__banner-slider img {
  width: 100%;
}
.content__banner-slider ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 10px;
}
.content__banner-slider ul li {
  position: relative;
  border: 1px solid rgba(64, 64, 64, 0.2);
  height: 12px;
  width: 12px;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.content__banner-slider ul li:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 1px 1px 1px rgb(64, 64, 64);
          box-shadow: 1px 1px 1px rgb(64, 64, 64);
  background-color: rgba(255, 255, 255, 0.8);
}
.content__banner-slider ul li:first-child {
  background-color: rgba(255, 240, 120, 0.7);
}

.content__hotOffers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1090px;
  width: 100%;
  margin: 0 auto;
  max-width: 1090px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content__hotOffers div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 220px;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: rgba(64, 64, 64, 0.1);
  background: rgb(243, 243, 243);
  border: 1px solid rgba(64, 64, 64, 0.2);
}
.content__hotOffers div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 40px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(64, 64, 64);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content__hotOffers div:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 1px 1px 1px rgba(64, 64, 64, 0.5);
          box-shadow: 1px 1px 1px rgba(64, 64, 64, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 245, 165)), color-stop(50%, rgb(255, 240, 135)), to(rgb(255, 245, 165)));
  background: linear-gradient(90deg, rgb(255, 245, 165) 0%, rgb(255, 240, 135) 50%, rgb(255, 245, 165) 100%);
}
.content__hotOffers .content_activeHotOffers {
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 245, 165)), color-stop(50%, rgb(255, 240, 135)), to(rgb(255, 245, 165)));
  background: linear-gradient(90deg, rgb(255, 245, 165) 0%, rgb(255, 240, 135) 50%, rgb(255, 245, 165) 100%);
}

.content h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  overflow: auto;
}
.content h2 div {
  border-top: 1px solid rgb(64, 64, 64);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 20px;
}

.content__goodsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1090px;
  width: 100%;
  margin: 0 auto;
  max-width: 1090px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content__goodsBlock div.content__goodsItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-position: center;
  background-size: 100%;
  height: 350px;
  min-width: 270px;
  margin: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.content__goodsBlock div.content__goodsItem p {
  width: 200px;
  text-align: center;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 9;
}
.content__goodsBlock div.content__goodsItem div {
  width: 100%;
  margin: 0;
  padding: 5px 0;
  min-height: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 9;
}
.content__goodsBlock div.content__goodsItem img {
  display: none;
}
.content__goodsBlock div.content__goodsItem:hover {
  background-size: 120%;
}
.content__goodsBlock div.content__goodsItem:hover p {
  color: rgba(255, 255, 255, 0.9);
}
.content__goodsBlock div.content__goodsItem:hover div {
  background-color: rgba(0, 0, 0, 0.7);
}
.content__goodsBlock div.content__goodsItem .addedToCartBtn rect:first-child {
  fill: rgb(185, 255, 80);
}
.content__goodsBlock div.content__goodsItem .addToCartBtn, .content__goodsBlock div.content__goodsItem .addedToCartBtn {
  z-index: 9;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.content__goodsBlock div.content__goodsItem .addToCartBtn:hover rect, .content__goodsBlock div.content__goodsItem .addedToCartBtn:hover rect {
  fill-opacity: 0.8;
  stroke-opacity: 0.6;
}
.content__goodsBlock div.content__goodsItem .addToCartBtn:hover path, .content__goodsBlock div.content__goodsItem .addedToCartBtn:hover path {
  stroke-opacity: 0.6;
}
.content__goodsBlock div.content__goodsItem .addedToFavoriteBtn path {
  fill: rgba(255, 123, 123, 0.562);
  fill-opacity: 0.8;
  stroke: rgb(97, 97, 97);
}
.content__goodsBlock div.content__goodsItem .addToFavoriteBtn, .content__goodsBlock div.content__goodsItem .addedToFavoriteBtn {
  z-index: 9;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}
.content__goodsBlock div.content__goodsItem .addToFavoriteBtn:hover rect, .content__goodsBlock div.content__goodsItem .addedToFavoriteBtn:hover rect {
  fill-opacity: 0.8;
  stroke-opacity: 0.6;
}
.content__goodsBlock div.content__goodsItem .addToFavoriteBtn:hover path, .content__goodsBlock div.content__goodsItem .addedToFavoriteBtn:hover path {
  stroke-opacity: 0.6;
}

.moreGoods {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px auto;
  cursor: pointer;
  color: rgba(64, 64, 64, 0.6);
}
.moreGoods P {
  font-weight: 500;
}
.moreGoods:hover {
  color: rgb(64, 64, 64);
}

.filler {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer {
  background-color: rgb(64, 64, 64);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1090px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  margin-top: 10px;
}
.footer ul {
  margin: 20px 5px;
}
.footer li {
  color: white;
  font-size: 15px;
  cursor: pointer;
}
.footer li:hover {
  text-decoration: underline;
}
.footer li:first-child {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

.favorite__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 1090px;
  width: 100%;
  margin: 10px auto;
  border-top: 2px solid rgba(64, 64, 64, 0.2);
  padding: 20px 0;
}
.favorite__content h2 {
  margin-left: 10px;
}
.favorite__content .favorite__itemsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.favorite__content .favorite__itemsBlock .favorite__item {
  margin: 5px;
}