.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-width: 1090px;
  width: 100%;
  margin: 0 auto;
}
.information .information__content .information__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.information .information__content .information__title h1 {
  margin: 10px;
}
.information .information__content .information__title div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border-bottom: 1px solid rgba(64, 64, 64, 0.2);
}
.information .information__content .information_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.information .information__content .information_description div img {
  width: 50%;
}
.information .information__content .information_description p {
  margin: 10px 0;
}
.information .information__content .information_description p th, .information .information__content .information_description p td {
  border: 1px solid rgba(64, 64, 64, 0.2);
  padding: 3px;
}
.information .information__content .information_description p:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.information .information__content .information_description p:first-child > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.information .information__content .information_description p:first-child li {
  list-style: disc;
  margin-left: 30px;
}