.adminPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 1090px;
  margin: 0 auto;
  border-top: 1px solid rgba(64, 64, 64, 0.2);
  padding-top: 10px;
}
.adminPanel input, .adminPanel select, .adminPanel label {
  border: 1px solid rgba(64, 64, 64, 0.2);
  padding: 8px;
  font-size: 14px;
  color: rgb(64, 64, 64);
}
.adminPanel .adminPanel__bookmarkBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 60px;
}
.adminPanel .adminPanel__bookmarkBlock input {
  width: 100px;
  height: 35px;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  background-color: rgb(245, 245, 245);
  text-align: center;
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: rgb(64, 64, 64);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.adminPanel .adminPanel__bookmarkBlock input:hover {
  height: 40px;
  z-index: 1;
}
.adminPanel .adminPanel__bookmarkBlock input:checked {
  background-color: rgb(235, 255, 204);
  height: 50px;
  z-index: 1;
}
.adminPanel .adminPanel__bookmarkBlock input::before {
  content: attr(label);
}

.adminPanel__sectionGoods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(64, 64, 64, 0.2);
  padding: 20px;
  height: 100%;
}

.adminPanel__settings {
  width: 50%;
  margin-right: 40px;
}
.adminPanel__settings h4 {
  margin-right: 10px;
}
.adminPanel__settings div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}
.adminPanel__settings input, .adminPanel__settings select, .adminPanel__settings label, .adminPanel__settings button {
  border-radius: 10px;
}
.adminPanel__settings p {
  margin-left: 10px;
}
.adminPanel__settings .adminPanel__recomendIdBlock button {
  padding: 5px;
  font-size: 14px;
  border: 1px solid rgba(64, 64, 64, 0.2);
  background-color: rgb(245, 245, 245);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.adminPanel__settings .adminPanel__recomendIdBlock button:hover {
  -webkit-box-shadow: 1px 1px 2px black;
          box-shadow: 1px 1px 2px black;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.adminPanel__settings .adminPanel__recomendIdBlock button:active {
  -webkit-box-shadow: 1px 1px 2px black inset;
          box-shadow: 1px 1px 2px black inset;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
.adminPanel__settings .adminPanel__idBlock input {
  width: 70px;
}
.adminPanel__settings .adminPanel__nameBlock h4 {
  width: 150px;
}
.adminPanel__settings .adminPanel__nameBlock input {
  width: 100%;
}
.adminPanel__settings .adminPanel__costBlock input {
  width: 80px;
}
.adminPanel__settings .adminPanel__sizeBlock input {
  display: none;
}
.adminPanel__settings .adminPanel__sizeBlock input:checked ~ label {
  background-color: rgb(235, 255, 204);
}
.adminPanel__settings .adminPanel__sizeBlock label {
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  cursor: pointer;
  margin: 0 2px;
  width: 30px;
  text-align: center;
  background-color: rgb(245, 245, 245);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.adminPanel__settings .adminPanel__sizeBlock label:hover {
  background-color: white;
  -webkit-box-shadow: 1px 1px 2px black;
          box-shadow: 1px 1px 2px black;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}
.adminPanel__settings .adminPanel__imageBlock p {
  font-size: 14px;
  margin-right: 5px;
}
.adminPanel__settings .adminPanel__imageBlock h4 {
  width: 155px;
}
.adminPanel__settings .adminPanel__imageBlock input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.adminPanel__example {
  width: 50%;
}

.adminPanel__enterForm {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto 0;
  border: 1px solid rgba(64, 64, 64, 0.2);
  padding: 15px;
  border-radius: 20px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 1px 1px 2px rgb(122, 122, 122);
          box-shadow: 1px 1px 2px rgb(122, 122, 122);
}
.adminPanel__enterForm .adminPanel__passwordField {
  margin-top: 5px;
}
.adminPanel__enterForm input {
  border-radius: 5px;
  border: 1px solid rgba(64, 64, 64, 0.2);
  padding: 3px;
}
.adminPanel__enterForm button {
  padding: 5px;
}