$borderBar: 1px solid rgba(64, 64, 64, 0.2);
$transition:  all 0.2s ease-in-out;
$textColor: rgb(64, 64, 64);
$transition:  all 0.2s ease-in-out;

//ADMIN PANEL
.adminPanel {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 1090px;
    margin: 0 auto;
    border-top: $borderBar;
    padding-top: 10px;
    input, select, label {
        border: $borderBar;
        padding: 8px;
        font-size: 14px;
        color: $textColor;
    }
    .adminPanel__bookmarkBlock{
        display: flex;
        align-items: flex-end;
        height: 60px;
        input {
            width: 100px;
            height: 35px;
            border-bottom: none;
            border-radius: 10px 10px 0 0;
            background-color: rgb(245, 245, 245);
            text-align: center;
            font-size: 16px;
            appearance: none;
            color: $textColor;
            transition: $transition;
            cursor: pointer;
            &:hover {
                height: 40px;
                z-index: 1;
            }
            &:checked {
                background-color: rgb(235, 255, 204);
                height: 50px;
                z-index: 1;
            }
            &::before {
                content: attr(label);
            }
        }
    }
}

//GOODS SECTION
.adminPanel__sectionGoods {
    display: flex;
    border: $borderBar;
    padding: 20px;
    height: 100%;
}
.adminPanel__settings {
    width: 50%;
    margin-right: 40px;
    h4 {
        margin-right: 10px;
    }
    div {
        display: flex;
        align-items: center;
        margin-top: 15px;
    }
    input, select, label, button {
        border-radius: 10px;
    }
    p {
        margin-left: 10px;
    }
    .adminPanel__recomendIdBlock {
        button {
            padding: 5px;
            font-size: 14px;
            border: $borderBar;
            background-color: rgb(245, 245, 245);
            transition: $transition;
            &:hover {
                box-shadow: 1px 1px 2px black;
                transform: translateY(-2px);
            }
            &:active {
                box-shadow: 1px 1px 2px black inset;
                transform: translateY(2px);
            }
        }
    }
    .adminPanel__idBlock {
        input {
            width: 70px;
        }
    }
    .adminPanel__nameBlock {
        h4 {
            width: 150px;
        }
        input {
            width: 100%;
        }
    }
    .adminPanel__costBlock {
        input {
            width: 80px;
        }
    }
    .adminPanel__sizeBlock {
        input {
            display: none;
            &:checked ~ label{
                background-color: rgb(235, 255, 204);
            }
        }
        label {
            display: block;
            box-sizing: content-box;
            cursor: pointer;
            margin: 0 2px;
            width: 30px;
            text-align: center;
            background-color: rgb(245, 245, 245);
            transition: $transition;
            &:hover {
                background-color: white;
                box-shadow: 1px 1px 2px black;
                transform: translateY(-2px);
            }
        }
    }
    .adminPanel__imageBlock {
        input:last-child {
            width: 50px;
            margin-left: 10px;
        }
        p {
            font-size: 12px;
            margin: 3px;
        }
        h4 {
            width: 90px;
        }
    }
    .adminPanel_buttonBlock {
        display: flex;
        align-items: baseline;
        .deleteButton {
            margin-left: 10px;
            svg:hover {
                rect {
                    stroke-opacity: 0.6;
                }
                path {
                    fill-opacity: 0.6;
                }
            }
        }
    }
}
.adminPanel__example {
    width: 50%;
}
//EXAMPLE
.example__content {
    display: flex;
    margin-top: 20px;
    p {
        font-size: 10px;
    }
    .example__image {
        width: 50%;
        margin-right: 10px;
        min-height: 328px;
        border: $borderBar;
        border-radius: 20px;
        img {
            width: 100%;
            border-radius: 20px;
        }
    }
    .example__order {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .example__cost {
        margin-top: 5px;
        padding: 3px;
        border: $borderBar;
        background-color: rgb(245, 245, 245);
        border-radius: 5px;
        width: fit-content;
    }
    .example__size {
        margin-top: 15px;
        p {
            font-weight: 500;
        }
        .example__size-option {
            display: flex;
            margin-top: 5px;
            input {
                width: 20px;
                padding: 3px;
                margin-right: 5px;
                border: $borderBar;
                border-radius: 3px;
                background-color: rgb(245, 245, 245);
                text-align: center;
                font-size: 8px;
                appearance: none;
                &::before {
                    content: attr(label);
                }
            }
        }
    }
    .example__sizeHelp {
        display: flex;
        align-items: flex-end;
        margin-top: 10px;
    }
    .example__count {
        margin-top: 15px;
        p {
            font-weight: 500;
        }
        .example__counter {
            border-radius: 5px;
            height: 20px;
            margin-top: 3px;
            width: 60px;
            font-size: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: $borderBar;
            background-color: rgb(250, 250, 250);
            text-align: center;
            overflow: hidden;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                background-color: rgb(240, 240, 240);
                &:first-child {border-right: $borderBar;}
                &:last-child {border-left: $borderBar;}
            }
            div {
                width: 15px;
            }
        }
    }
    .example__accept {
        display: flex;
        margin-top: 25px;
        div {
            border: $borderBar;
            border-radius: 6px;
            margin-right: 10px;
            font-size: 10px;
            padding: 8px;
            background-color: rgb(235, 255, 204);
            font-weight: 500;
            width: 100%;
            text-align: center;
        }
    }
}
.example__description {
    margin-top: 20px;
    ul {
        display: flex;
        margin-top: 5px;
        li {
            margin-right: 20px;
            padding-right: 10px;
            padding: 5px 5px;
            font-weight: 500;
            cursor: pointer;
        }
    }
    .example__context {
        margin-top: 10px;
        line-height: 1.5;
    }
}

//AUTORIZATION
.adminPanel__enterForm {
    align-self: center;
    margin: auto 0;
    border: $borderBar;
    padding: 15px;
    border-radius: 20px;
    transform: translateY(-3px);
    box-shadow: 1px 1px 2px rgb(122, 122, 122);
    .adminPanel__passwordField {
        margin-top: 5px;
    }
    input {
        border-radius: 5px;
        border: $borderBar;
        padding: 3px;
    }
    button {
        padding: 5px;
    }
}